@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* index */
body {
  background-color: #ededed;
}

.container {
  position: relative;
}

.card {
  transition: all 0.4s ease-in-out;
}
.card:hover {
  transform: translateY(-10px);
  transition: all 0.4s ease-in-out;
}
/* Navbar */

.navbar {
  background-color: #ffffff;
  padding: 0 8.33% 0;
}

.card-header-green {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 0px;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  text-decoration: none;
}
.card-header-red {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 0px;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  text-decoration: none;
}

.course-box {
  background-color: #ffffff;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px;
  min-height: 150px;
  width: 100%;
  color: black;
  padding: 20px;
}
.course-box:hover {
  transition: 0.2s;
  transform: scale(1.03);
}

.courseLink,
.courseLink:hover {
  text-decoration: none;
}

.courseButton {
  background-color: #04bfbf;
  color: white;
  border: none;
  border-radius: 0px;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  /* padding: 11px 23px; */
  text-decoration: none;
  transition: 0.3s;
}

.courseButton:hover {
  background-color: #4c5252;
  border-radius: 0px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  /* padding: 11px 23px; */
  text-decoration: none;
  transition: 0.3s;
}

.backgroundImg {
  background: linear-gradient(rgba(50, 50, 50, 0.75), rgba(50, 50, 50, 0.75)),
    url(https://images.pexels.com/photos/2952871/pexels-photo-2952871.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: repeat;
  background-size: cover;
}
.backgroundImg2 {
  background: url(https://images.unsplash.com/photo-1528731708534-816fe59f90cb?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1920&h=1080&fit=crop&ixid=eyJhcHBfaWQiOjF9);
  background-repeat: repeat;
  background-size: cover;
}

header {
  position: relative;
  height: 300px;
}

main h3 {
  margin-top: 70px;
}

/* Profile */
#name {
  position: relative;
  top: 250px;
}

#detailsProfile {
  position: relative;
  min-height: 50px;
  width: 100%;
  padding: 12px 0;
  background-color: #ffffff;
}
.divWhite {
  position: relative;
  min-height: 50px;
  width: 100%;
  padding: 12px 0;
  background-color: #ffffff;
}

/* Buttons */

/* .userMenuButton {
  background-color: #4c5252;
  color: white;
  border: none;
  border-radius: 0px;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
} */

/* .userMenuButton:hover {
  background-color: #4c5252;
  border-radius: 0px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  padding: 11px 23px;
  text-decoration: none;
  transition: 0.3s;
} */

.my-button {
  color: white;
  border: none;
  border-radius: 0px;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 12px;
  text-decoration: none;
  transition: 0.3s;
}

.course-button {
  background-color: #04bfbf;
  padding: 10px 20px;
  transition: 0.3s;
}

.course-button:hover {
  text-decoration: none;
  background-color: #018080;
  transition: 0.3s;
}

.logout-button {
  background-color: #808080;
  transition: 0.3s;
}
.logout-button:hover {
  background-color: #404040;
  transition: 0.3s;
}
.login-button {
  background-color: #006ce0;
  transition: 0.3s;
}
.login-button:hover {
  background-color: #406791;
  transition: 0.3s;
}
.register-button {
  background-color: #28a745;
  transition: 0.3s;
}
.register-button:hover {
  background-color: #40804e;
  transition: 0.3s;
  text-decoration: none;
}

.edit-course-button {
  background-color: #808080;
  padding: 10px 0px;
  width: 120px;
  transition: 0.3s;
}
.edit-course-button:hover {
  text-decoration: none;
  background-color: #404040;
  width: 120px;
  transition: 0.3s;
  text-decoration: none;
}
.archive-button {
  background-color: #dc3545;
  padding: 10px 0px;
  width: 120px;
  transition: 0.3s;
}
.archive-button:hover {
  text-decoration: none;
  background-color: #b32d39;
  width: 120px;
  transition: 0.3s;
  text-decoration: none;
}
.enable-button {
  background-color: #28a745;
  padding: 10px 0px;
  width: 120px;
  transition: 0.3s;
}
.enable-button:hover {
  text-decoration: none;
  background-color: #40804e;
  width: 120px;
  transition: 0.3s;
  text-decoration: none;
}
